In [ ]:
import pandas as pd
import numpy as np

# We load the google colab packages # 
from google.colab import drive  

# Then we load our drive #
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/Shareddrives/DS0 560 - Group Project/Reel Good Data (Title+Service).csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df["What it's about"].isnull().sum()

71528

In [ ]:
df.describe()

,Unnamed: 0,IMDB,ReelGood,Released Year,Seasons,Rent or Buy Available,Exclusive Service,Has Tag
count,137002.000000,133932.000000,136298.000000,137002.000000,8911.000000,137002.000000,137002.000000,137002.000000
mean,281608.070685,6.101420,47.126201,2002.960329,4.421502,0.847747,0.210464,0.477285
std,140814.562946,1.361616,15.368222,20.033949,5.842651,0.359268,0.407640,0.499486
min,0.000000,1.000000,10.000000,1900.000000,1.000000,0.000000,0.000000,0.000000
25%,169969.000000,5.300000,35.000000,2000.000000,1.000000,1.000000,0.000000,0.000000
50%,310719.500000,6.300000,44.000000,2011.000000,3.000000,1.000000,0.000000,0.000000
75%,403691.250000,7.100000,58.000000,2015.000000,5.000000,1.000000,0.000000,1.000000
max,480098.000000,10.000000,100.000000,2020.000000,86.000000,1.000000,1.000000,1.000000

In [ ]:
df.dropna(subset=["What it's about"], inplace = True)

In [ ]:
df.describe()

,Unnamed: 0,IMDB,ReelGood,Released Year,Seasons,Rent or Buy Available,Exclusive Service,Has Tag
count,65474.000000,65077.000000,65413.000000,65474.000000,8911.000000,65474.000000,65474.000000,65474.000000
mean,251767.336546,6.193357,53.220124,2000.265602,4.421502,0.884870,0.199850,0.998702
std,132429.557126,1.327032,15.846098,20.931288,5.842651,0.319181,0.399891,0.036008
min,0.000000,1.400000,10.000000,1900.000000,1.000000,0.000000,0.000000,0.000000
25%,148140.500000,5.400000,40.000000,1994.000000,1.000000,1.000000,0.000000,1.000000
50%,259591.000000,6.400000,52.000000,2009.000000,3.000000,1.000000,0.000000,1.000000
75%,362164.250000,7.100000,65.000000,2014.000000,5.000000,1.000000,0.000000,1.000000
max,480066.000000,10.000000,100.000000,2020.000000,86.000000,1.000000,1.000000,1.000000

In [ ]:
df["What it's about"].isnull().sum()

0

# Adding Sentiment Score with textblob

In [ ]:
from textblob import TextBlob

In [ ]:
# What it's about

df['text_blob_sentiment'] = np.array([TextBlob(summary).sentiment.polarity for summary in df["What it's about"]])

In [ ]:
df.sample(5)

,Unnamed: 0,Title,URL,Type,Service,IMDB,ReelGood,AgeRating,Rated,Released Year,Duration Year,Seasons,What it's about,Where to Watch,Rent or Buy Available,Exclusive Service,Has Tag,text_blob_sentiment
36105,179385,Rabid,/movie/rabid-1977,movies,shoutfactorytv,6.3,67.0,18+,R,1977,NaN,NaN,After undergoing radical surgery for injuries ...,Available to watch free online (Tubi & Popcorn...,1,0,1,0.012500
15325,66423,The Adventures of Champion,/show/the-adventures-of-champion-1955,tv,free,7.2,33.0,all,TV-G,1955,1955-2020,1.0,The Adventures of Champion follow a wild stall...,23 episodes (88%) are available to watch free ...,0,0,1,0.008333
115412,432946,Born Wild,/movie/born-wild-1995,movies,popcornflix,5.6,34.0,7+,PG,1995,NaN,NaN,A young documentary filmmaker working for a st...,Available to watch free online (PopcornFlix) &...,1,0,1,0.050000
29256,140034,Island of Lost Souls,/movie/island-of-lost-souls-1932,movies,peacock,7.4,73.0,NaN,NaN,1932,NaN,NaN,An obsessed scientist conducts profane experim...,Available to stream on a popular subscription ...,0,1,1,-0.500000
67276,306329,LEGO DC Comics Super Heroes: Batman: Be-Leaguered,/movie/lego-dc-comics-super-heroes-batman-be-l...,movies,netflix,6.6,49.0,7+,PG,2014,NaN,NaN,Superman wants Batman to join his new superher...,Available to watch free online (Tubi) & stream...,0,0,1,0.168182

# Addind sentiment score with huggingface

In [ ]:
pip install transformers

Collecting transformers
  Downloading transformers-4.18.0-py3-none-any.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 29.4 MB/s
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 58.5 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Collecting sacremoses
  Downloading sacremoses-0.0.53.tar.gz (880 kB)
     |████████████████████████████████| 880 kB 49.0 MB/s
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.11.3)
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.5.1-py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 5.4 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 50.4 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.6)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.6.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.64.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (4.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.8)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.8.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Building wheels for collected packages: sacremoses
  Building wheel for sacremoses (setup.py) ... done
  Created wheel for sacremoses: filename=sacremoses-0.0.53-py3-none-any.whl size=895260 sha256=10a84f55cfd2dda7d5b637369a9471e090fbc0fa742a5b5ab4998ceb34433ee4
  Stored in directory: /root/.cache/pip/wheels/87/39/dd/a83eeef36d0bf98e7a4d1933a4ad2d660295a40613079bafc9
Successfully built sacremoses
Installing collected packages: pyyaml, tokenizers, sacremoses, huggingface-hub, transformers
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
Successfully installed huggingface-hub-0.5.1 pyyaml-6.0 sacremoses-0.0.53 tokenizers-0.12.1 transformers-4.18.0

In [ ]:
from transformers import pipeline
classifier = pipeline('sentiment-analysis')

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english)

In [ ]:
review_text = "I did not hate anything about this movie!"
classifier(review_text)

[{'label': 'POSITIVE', 'score': 0.9978073239326477}]

In [ ]:
neg_text = "I did not like one thing about this product!"
classifier(neg_text)

[{'label': 'NEGATIVE', 'score': 0.9987735152244568}]

In [ ]:
classifier(neg_text)[0]['label']

'NEGATIVE'

In [ ]:
df['hugging_face_sentiment'] = np.array([classifier(summary)[0]['label'] for summary in df["What it's about"]])

In [ ]:
df.to_csv('/content/drive/Shareddrives/DS0 560 - Group Project/Reel Good Data (Title+Service+Sentiment).csv')